    /*STRUCTURE/RESET*/
    
    html {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
    }
    
    img {
        width: 100%;
        height: auto;
    }
    
    h1 {}
    /*CONTAINERS ROWS AND COLS*/
    
    .container {
        background-color: blue;
        height: 250px;
    }
    
    .row {
        border: 10px solid green;
        height: 100px;
    }
    
    .col {
        border: 5px solid red;
        height: 100px;
    }