    /*STRUCTURE/RESET*/
    
    html {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
    }
    
    img {
        width: 100%;
        height: auto;
    }
    /*NAVIGATION*/
    
    nav>div {
        background-color: red;
    }
    
    @media screen and (min-width: 991px) {
        .hidden {
            display: none;
        }
    }